@media print {
    body * {
        visibility: hidden;
    }

    #printable-section,
    .box-1 h2 {
        visibility: visible;
        position: relative;
        width: 100%;
    }

    .printable {
        visibility: visible;
        position: relative;
        margin-bottom: 20px;
    }

    .printable a {
        visibility: visible;
        color: black;
        text-decoration: underline;
    }

    .printable a::after {
        content: " (" attr(href) ")";
        font-size: 90%;
        color: black;
        text-decoration: none;
    }
}
    
   